__pycache__/
*.pyc
*.pyo
*.h5
*.keras
*.pkl
*.pickle
*.zip
glove.840B.300d.txt
train.csv
test.csv
logs/
**/saved_models/*
!**/saved_models/*.png
!**/saved_models/.gitkeep
.env
.ipynb_checkpoints/
venv/
.venv/
*.egg-info/
.DS_Store